<section class="home__container">
    <section class="section hero__banner">

        <div class="banner__text">
            <div>
                <p>Love food  <br>Love the planet</p>

                <%# <div class="arrow__container">
                    <i class="fas fa-long-arrow-alt-down down"></i>
                </div> %>
            </div>
        </div>
        <div class="hero__banner--image">
            <img src="https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80">
        </div>
    </section>

    <section class="section section__about">
        <div class="banner__text">
             <div>
                <p>Good quality food<br>close to you
                </p>

            </div>
        </div>
        <div class="composition">
            <img src="https://images.unsplash.com/photo-1567042661848-7161ce446f85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80" alt="" class="composition__photo composition__photo--p1">
            <img src="https://images.unsplash.com/photo-1557665223-671ea12d4d5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="" class="composition__photo composition__photo--p2">
            <img src="https://images.unsplash.com/photo-1541696432-82c6da8ce7bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80" alt="" class="composition__photo composition__photo--p3">
        </div>
    </section>

    <section class="section section__discover">
            <div>
                <p class="section__discover--heading">Sign up and start discovering now</p>
            </div>
            <div class="discover__cards--container">
                <div class="discover__cards">
                    <div class="discover__info">
                        <i class="fas fa-globe discover__icons"></i>
                        <h3>Explore</h3>
                    </div>
                    <p>Discover the map for <br>activities near you</p>
                </div>
                <div class="discover__cards">
                    <div class="discover__info">
                        <i class="fas fa-globe discover__icons"></i>
                        <h3>Connect</h3>
                    </div>
                    <p>Discover the map for <br>activities near you</p>
                </div>
                <div class="discover__cards">
                    <div class="discover__info">
                        <i class="fas fa-globe discover__icons"></i>
                        <h3>Inspire</h3>
                    </div>
                    <p>Discover the map for <br>activities near you</p>
                </div>
            </div>
    </section>

    <section class="section section__signup">
         <div class="banner__text signup__text">
             <div>
                <h2>JOIN THE COMMUNITY</h2>
                <p>Sign up ,savour that meal and save the Planet<br> Be part of the REVOLUTION!</p>

            </div>
            <div class="sign__image">
                <img src="https://images.unsplash.com/photo-1469631423273-6995642a6a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1378&q=80">
            </div>
        </div>
    </section>

    <section class="section section__footer">
        <div class="footer__text">
            <p>&copy;foodFighters ANZ. All rights reserved.</p>
        </div>
    </section>


</div>
